<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootkuangsheng.dao.DepartmentsMapper">
    <resultMap id="BaseResultMap" type="com.example.springbootkuangsheng.model.Departments">
        <!--@mbg.generated-->
        <!--@Table departments-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="departmentName" jdbcType="VARCHAR" property="departmentName"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, departmentName, created_at, updated_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from departments
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from departments
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.example.springbootkuangsheng.model.Departments" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into departments (departmentName, created_at, updated_at)
        values (#{departmentName,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.example.springbootkuangsheng.model.Departments" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into departments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="departmentName != null">
                departmentName,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="departmentName != null">
                #{departmentName,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.springbootkuangsheng.model.Departments">
        <!--@mbg.generated-->
        update departments
        <set>
            <if test="departmentName != null">
                departmentName = #{departmentName,jdbcType=VARCHAR},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.springbootkuangsheng.model.Departments">
        <!--@mbg.generated-->
        update departments
        set departmentName = #{departmentName,jdbcType=VARCHAR},
            created_at     = #{createdAt,jdbcType=TIMESTAMP},
            updated_at     = #{updatedAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--auto generated by MybatisCodeHelper on 2022-01-28-->
    <select id="findall" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from departments
    </select>
</mapper>